
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  text-decoration: none;
  letter-spacing: 0.05rem;
}

button:hover {
  cursor: pointer;
  text-decoration: underline;
}

hr {
  height: 0.5rem;
  border: none;
  width: 100%;
  background: linear-gradient(
    90deg,
    rgba(210, 10, 153, 1) 0%,
    rgba(252, 49, 118, 1) 35%,
    rgba(251, 115, 18, 1) 100%
  );
}

::-webkit-scrollbar {
  width: 0; /* width of the entire scrollbar */
}
